.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tr:hover td
    {
    background-color: #bfe7df !important;
    font-size: 95%;
    font-weight:bolder;
    color: #010f0c;
    }


.styled-table input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

h1 {
text-align: center;
color:#02755e;
font-weight:bold;
font-style: oblique;
font-size:250%;
}

h2
{
    text-align: center;
    color:#068169;
}



#indicators table
{
    margin-left: auto;
    margin-right: auto;
}

#indicators table, 
#indicators td
{
    border: 1px solid #005241;
}

#indicators table thead tr {
    background-color: #009879;
    color: #ffffff;
}

#indicators table tbody tr {
    color: black;
    font-weight: bold;
    text-align: center;
}

#indicators table th,
#indicators table td {
    padding: 12px 15px;
}

#indicators table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#options
{
    text-align: center;
}