html {
    height: 100%;
}
body {
    min-height: 100vh;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tr:hover td
    {
    background-color: #bfe7df !important;
    font-size: 95%;
    font-weight:bolder;
    color: #010f0c;
    }


.styled-table input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  cursor: pointer;
}

h1 {
text-align: center;
color:#02755e;
font-weight:bold;
font-style: oblique;
font-size:300%;
margin: 0;
padding: 0;
}

h2
{
    text-align: center;
    color:#068169;
}



#indicators table
{
    margin-left: auto;
    margin-right: auto;
}

#indicators table, 
#indicators td
{
    border: 1px solid #005241;
}

#indicators table thead tr {
    background-color: #009879;
    color: #ffffff;
}

#indicators table tbody tr {
    color: black;
    font-weight: bold;
    text-align: center;
}

#indicators table th,
#indicators table td {
    padding: 12px 15px;
}

#indicators table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#options
{
    text-align: center;
}

.switch 
{
    margin: 0 10px 5px 10px;
}

.footer{
    background:#009879;
    
    bottom:0;

    left:0;
    
    width:100%;
    
    padding-top:100px;
    vertical-align: middle;
    position: relative;
    
    height:100px;
    text-align: center;
}
.footer p, .footer2 p
{
    color:white;
    margin:0;
    top:50%;
    left: 50%;
    position:absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.footer2
{
    background:#005e4b;
    
    width:100%;
    
    vertical-align: middle;
    position: relative;
    
    height:50px;
    text-align: center;
}

.bottom 
{
    position: relative;
    width: 100%;
}
